<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Leslie Huh</title>
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="static/script.js"></script>

</head>
<body>

  <header>
    <div class="web-title">
    <h1>Leslie Huh</h1></div>
    <div class="nav-bar">
      <nav>
        <a href="../index.html">⌂</a>
        <a href="resume.html">Resume</a>
        <a href="contact.html">Contact</a>

      </nav>
  </header>


  <main>
    <div class="resume">
      <h2>My Resume</h2>
      <object class="pdf" data= "../static/Resume.pdf" width="1000" height="600"></object>
    </div>
  </main>

  <footer>
    <div class="footer-content">
      <div class="copy">
      <p>&copy; 2025 Leslie Huh</p></div>
      <div class="links"><nav>
        <a href="https://www.linkedin.com/in/leslie-huh/" target="_blank" rel="noopener">LinkedIn</a> |
        <a href="https://www.github.com/lesliehuh" target="_blank" rel="noopener">GitHub</a>
      </nav></div></div>
  </footer>
</body>
</html>