* {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight:400;
}
h1 {
    font-weight:800;
}
nav {
    background-color:#FFD9D9;
    padding-left:10%;
    padding-right:5%
}